<div
  [ngStyle]="{ height: signedInUser.role === 'renter' ? '465px' : '450px' }"
  class="advertisement"
>
  @if(imageUrls && imageUrls.length){
  <img
    [src]="imageUrls[0]"
    class="advertisement-main-image"
    alt="image not available"
  />
  }
  <p class="advertisement-title">{{ property.title }}</p>
  <p class="advertisement-rent">Rent: {{ property.rentAmount }}</p>
  @if(property.description.length>60){
  <p class="advertisement-desc">{{ property.description.slice(0, 60) }}...</p>
  }@else{
  <p class="advertisement-desc">{{ property.description }}</p>
  } @if(signedInUser.role==='renter'){
  <div class="advertisement-btns">
    <button
      [routerLink]="['/property-details', property.id]"
      class="advertisement-btns-btn"
    >
      View Details
    </button>
    <button
      [ngStyle]="{
        background: isFavourite ? 'darkgreen' : 'darkred'
      }"
      class="advertisement-btns-btn"
      (click)="toggleFavourite()"
    >
      {{ isFavourite ? "Remove from Favourites" : "Mark as Favourite" }}
    </button>
  </div>
  }@else{
  <div class="advertisement-btns">
    <button
      [routerLink]="['/property-details', property.id]"
      class="advertisement-btns-btn advertisement-btns-landlord-btn"
    >
      View
    </button>
    <button
      style="background: darkgreen"
      class="advertisement-btns-btn advertisement-btns-landlord-btn"
      [routerLink]="['/new-property']"
      [queryParams]="{ isEdit: true, id: property.id }"
    >
      Edit
    </button>
  </div>
  }
</div>
