<div class="header">
  @if(title===Constants.FAVOURITES || title === Constants.PROPERTY_DETAILS){
  <div class="header-right-side-div">
    <button (click)="goBack()" type="button" class="btn btn-link">Back</button>
  </div>
  }
  <div class="header-title">{{ title }}</div>
  @if(showSideButtons!=='none'){
  <div class="header-right-side-div">
    @if(showSideButtons==='both' || showSideButtons==='favourites'){
    <button
      type="button"
      class="btn btn-link"
      [routerLink]="['/favourites']"
      [queryParams]="{ showFavourites: true }"
    >
      Favourites
    </button>
    } @if(showSideButtons==='both' || showSideButtons==='logout'){
    <button type="button" class="btn btn-link" (click)="logout()">
      Logout
    </button>
    }
  </div>
  }
</div>
