.home {
  width: 75%;
  margin: 10px auto;

  &-outer-buttons {
    display: flex;
  }
  &-buttons {
    margin: auto;
  }
  &-inner-div {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    background: #c9f9f4;
  }
}
@media only screen and (max-width: 700px) {
  .home {
    width: 100%;
  }
}
app-advertisement {
  margin: 3px;
}

.clear-button {
  background: white;
}

.check-image-div {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px;
  background: green;
  border-radius: 50%;
}

.check-image {
  width: 20px;
}

.filter-button {
  position: relative;
  display: inline-block;
}

button {
  margin: 10px 0;
}
