<app-header
  [title]="showFavourites ? Constants.FAVOURITES : Constants.RENT_HUB"
  [showSideButtons]="
    showFavourites || signedInUser.role === Constants.LANDLORD
      ? 'logout'
      : 'both'
  "
></app-header>
<div class="home">
  <div class="home-outer-buttons">
    <div class="home-buttons">
      @if(!showFavourites && signedInUser.role === Constants.LANDLORD){
      <button
        type="button"
        class="btn btn-primary"
        style="margin-right: 150px"
        routerLink="/new-property"
      >
        Post a New Property
      </button>
      } @if(!showFavourites){
      <button
        type="button"
        class="btn btn-outline-danger clear-button"
        style="margin-right: 5px"
        (click)="clearFilter()"
      >
        Clear Filter
      </button>
      <div class="filter-button">
        <button
          type="button"
          style="margin-right: 7px"
          class="btn btn-primary"
          (click)="openFilterDialog()"
        >
          Apply Filter
        </button>
        @if(isFilterApplied){
        <div class="check-image-div">
          <img class="check-image" src="assets/check2.svg" />
        </div>
        }
      </div>
      }
    </div>
  </div>
  <div>
    <div class="home-inner-div">
      @for(property of propertyList; track property.id){
      <app-advertisement
        (favouriteToggleEvent)="toggleFavourite($event)"
        [property]="property"
        [signedInUser]="signedInUser"
        [users]="users"
      ></app-advertisement>
      } @if(!propertyList.length){
      <div>
        {{
          isFilterApplied
            ? "No Such Property found"
            : signedInUser.role === Constants.LANDLORD
            ? "You haven't posted any property"
            : showFavourites
            ? "No Property available in Favourites"
            : "No property is available"
        }}
      </div>
      }
    </div>
  </div>
</div>
